<div class="card">
    <div class="card-header">
        <p class="h4 mb-2 text-center">Add Product</p>
    </div>
    <div class="card-body">
        <form class="text-center border border-light p-5" action="#!">
            <!--Name-->
            <input type="text" name="pname" id="name" class="form-contorl mb-4" placeholder="Product Name">

            <!--Price-->
            <input type="text" name="price" id="price" class="form-contorl mb-4" placeholder="Product Price">

            <!--Description-->
            <textarea type="text" name="desc" id="desc" class="form-control mb-4" placeholder="Product Description"></textarea>

            <!--Image-->
            <div class="custom-file mb-4">
                <input type="file" name="image" class="custom-file-input"  id="image" accept="image/*">
                <label class="custom-file-label" for="image">Product image</label>
            </div>

            <!--Sign in button-->
            <button class="btn btn-info btn-block" type="submit">Add</button>
        </form>
    </div>
</div>