<div>
    <!--  ---------------table--------------- -->
    <div class="container my-5 col-md-6">
        <table class="table table-stiped table-hover">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="product :${products}">
                    <td><img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="width: 100px;height: 100px;"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.description}"></td>
                    <td>
                        <a th:href="@{/deleteProduct/{id}(id=${product.id})}"><i class="fa-regular fa-trash ms-3"></i></a>
                        <a href="#" data-toggle="modal" th:attr="data-target='#exampleModalCenter'+*{product.id}">
                            <i class="far fa-edit ms-3"></i>
                        </a>

                        <!--  ---------------modal--------------- -->
                        <div class="modal fade" th:id="*{'exampleModalCenter'+{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Product</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="editProduct" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label>Product Id</label>
                                                <input type="hidden" name="id" th:value="${product.id}">
                                                <input th:value="*{product.id}" class="form-control" name="id" disabled="disabled">

                                                <label>Product name</label>
                                                <input type="text" class="form-control" name="newName" th:value="${product.name}">

                                                <label>Product price</label>
                                                <input type="text" class="form-control" name="newPrice" th:value="${product.price}">

                                                <label>Product description</label>
                                                <input type="text" class="form-control" name="newDesc" th:value="${product.description}">

                                                <label>Product image</label>
                                                <div class="d-flex align-items-center">
                                                    <img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="width: 100px; height: 100px; object-fit: cover;">
                                                </div>
                                                <input type="file" class="form-control" name="newImage" accept="image/*">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS & jQuery -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f19bfe7f5e.js" crossorigin="anonymous"></script>
</div>